#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
h1 {
  color: #1e1e1e;
  position: relative;
  font-size: 20vw;
  line-height: 100vh;
  margin: 0;
  pointer-events: none;
}
body {
  min-height: 100vh;
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
