html,
body,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -webkit-transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -moz-transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -o-transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  color: #fff;
  overflow: hidden;
}

* {
  font-family: "open sans", "lato", "helvetica", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 99px 1fr;
  grid-template-rows: 3.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  position: relative;
}

#menu .icon {
  margin: 30px 0;
  transition: all 0.5s ease-out !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

#holder {
  position: relative;
}
#p1 {
  right: 0;
  transition: none;
}
#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin: auto;
  height: 100vh;
  width: 99px;
  padding: 0;
  text-align: center;
  background: #1e1e1e;
  color: #1e1e1e;
}

ul .icon:hover {
  opacity: 0.5;
}

#first {
  margin-bottom: 55px;
}

.page {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -webkit-transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -moz-transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -o-transition: all 0.8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  color: #fff;
  overflow: hidden;
}

#p1 {
  background: url("../assets/2.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: 120vw 120vh;
}
#p2 {
  background: tomato;
}
#p3 {
  background: gold;
}

#p4 {
  background: whitesmoke;
}

.showSection {
  right: 0;
}

.blurOnShow {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.capIcon {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

.minIcon {
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transition-delay: 0.25s;
}

.title {
  line-height: 2;
}
.title {
  font-size: 38px;
}
/* qustinable */

.hint {
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

#p1::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -50%;
  bottom: 50%;
  width: 160%;
  height: 100%;
  background: rgba(0, 155, 218, 0.5);
  z-index: 1;
  transform: rotate(341deg);
}

#p1::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 200%;
  height: 200%;
  background: rgba(55, 55, 55, 0.5);
  z-index: 1;
  transform: rotate(55deg);
}

.para {
  z-index: 2;
  position: relative;
  height: 100%;
  padding: 25px;
}

#logo {
  filter: brightness(1000%);
}

.EricssonIcon {
  position: absolute;

  transform: scale(2.5);
  z-index: -1;
}

.Ericssonleft {
  left: 0;
  bottom: 0;
}

.Ericssonright {
  right: 0;
}

.onee {
  width: 200px;
  height: 50px;
  background: #1174e6;
  border-radius: 25px;
  margin-bottom: 25px;
  transform: rotate(340deg);
  animation: example 3s infinite;
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

.twoo {
  width: 200px;
  height: 50px;
  background: #1174e6;
  border-radius: 25px;
  margin-bottom: 25px;
  transform: rotate(340deg);
  animation: example 3s infinite;
  animation-delay: 0.5s;
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

.threee {
  width: 200px;
  height: 50px;
  background: black;
  border-radius: 25px;
  margin-bottom: 25px;
  transform: rotate(340deg);
  animation: example 3s infinite;
  animation-delay: 1s;
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

@keyframes example {
  0% {
    transform: rotate(340deg) translate(12px, 0px);
  }
  50% {
    transform: rotate(340deg) translate(-12px, 0px);
  }
  100% {
    transform: rotate(340deg) translate(12px, 0px);
  }
}

.buttonsHolder {
  margin: 100px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.btn {
  border: none;
  border-radius: 50px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
